.main-content {
    border-left: 1px solid #e4e4e4;
}

.thumb-img {
    width: 100%;
}

.thumb-item {
    position: relative;
}

.item-add, .item-remove {
    position: absolute;
    top: 0;
    right: 0;
}

.custom-btn-group {
    margin-bottom: 20px;
}

.book-form,
.delivery-form {
    margin: 10px 20px;
}